<h1>Create a Team and Heroes!</h1>
<form action='/team' method='post'>
  <label for='team_name'>Team Name:</label>
  <input type='text' id='team_name' name='team[name]'><br>
  <label for='team_motto'>Team Motto:</label>
  <input type='text' id='team_motto' name='team[motto]'><br>
  <h2>Hero 1</h2>
  <label for='hero_name'>Hero 1 Name:</label>
  <input type='text' id='hero_name' name='team[heros][][name]'><br>
  <label for='hero_power'>Hero 1 Power:</label>
  <input type='text' id='hero_power' name='team[heros][power]'><br>
  <label for='hero_biography'>Hero 1 Biography:</label>
  <input type='text' id='hero_biography' name='team[heros][biography]'><br>
  <input type='submit' name='Submit' id='Submit'>
  <h2>Hero 2</h2>
  <label for='hero_name'>Hero 2 Name:</label>
  <input type='text' id='hero_name' name='team[heros][][name]'><br>
  <label for='hero_power'>Hero 2 Power:</label>
  <input type='text' id='hero_power' name='team[heros][power]'><br>
  <label for='hero_biography'>Hero 2 Biography:</label>
  <input type='text' id='hero_biography' name='team[heros][biography]'><br>
  <input type='submit' name='Submit' id='Submit'>
  <h2>Hero 3</h2>
  <label for='hero_name'>Hero 3 Name:</label>
  <input type='text' id='hero_name' name='team[heros][][name]'><br>
  <label for='hero_power'>Hero 3 Power:</label>
  <input type='text' id='hero_power' name='team[heros][power]'><br>
  <label for='hero_biography'>Hero 3 Biography:</label>
  <input type='text' id='hero_biography' name='team[heros][biography]'><br>
  <input type='submit' name='Submit' id='Submit'>
</form>
